.label {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #aaa;
}

.icon {
  color: #ccc;

  &.active {
    color: #333;
  }
}

.select {
  width: 150px;
  margin: 0 15px;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.order-switch {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
