#filter-plugin {
  .ant-input,
  .ant-select-selection {
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
  }

  .ant-select-selection__placeholder {
    height: 28px;
    line-height: 28px;      
  }

  .ant-select-dropdown {
    border-radius: 2px !important;
  }
}