.filter-plugins{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-col {
  text-align: center;
}

.filter {
  margin-bottom: 30px;
  border: 1px #f8f8f8 solid;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 1px 1px 4px #eee;
}

.label {
  color: #aaa;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 2px;
}

.filter-plugin {
  flex: 1;
  margin-right: 15px;
  min-width: 100px;
}
